body {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: rgb(44, 44, 44);
  color: white;
}

.searchBar {
  padding: 20% 0;
  width: 50vw;
}

h2,
h1 {
  color: rgb(99, 12, 180);
}

#button {
  margin-top: 2%;
}
