html,
body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  background-color: rgb(27, 27, 27);
  color: #cfcfcf;
}

body::before {
  content: "";
  background: url("../../resources/hypers.png"),
    url("../../resources/omegalul.png");
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, right bottom;
  opacity: 0.05;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.searchBar {
  padding: 20% 0;
  width: 50vw;
}

h2,
h1 {
  text-align: center;
  color: rgb(133, 20, 240);
}

#button {
  margin-top: 2%;
}

.radio {
  margin-top: 5%;
}
