.video-wrapper {
	position: relative;
	padding-top: 56.25%;
	/* height: 100%;
  width: 100%;
  min-height: 225px;
  text-align: center;
  display: flex;
  justify-content: center; */
}
.react-player {
	position: absolute;
	top: 0;
	left: 0;
}
.tweet-wrapper {
	text-align: center;
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
}

.mediaDisplay {
	width: 60vw;
	background-color: rgb(36, 36, 36);
}

@media screen and (max-width: 1000px) {
	.mediaDisplay {
		width: 100vw;
	}
}
